// Developed at agap2
// Slider based on Google's #1 result:
// https://codepen.io/mephysto/pen/ZYVKRY
// And on the RESPONSIVE alternative:
// http://www.codeply.com/go/s3I9ivCBYH/multi-carousel-single-slide-bootstrap-4

// non-related styling:
body{
    background: #333;
    color: #ddd;
  }
  
//   @ci: carousel-item;
@media (min-width: 768px) {
    .multi-item-carousel {
      .carousel-inner {
        .carousel-item {
          // NEW to v4.3.1: all margin-right properties come with -100% as default
          // causing all hidden items to be out of the screen
          margin-right: inherit;
  
          &.active {
            + .carousel-item,
            + .carousel-item + .carousel-item {
              display: block; // three visible items
            }
  
            // prevents opposite direction "animation"
            &:not(.carousel-item-right):not(.carousel-item-left),
            &:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
            &:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
              transition: none;
            }
      
            // allows new item to be visible in order to "slide in" into place
            + .carousel-item + .carousel-item + .carousel-item {
              position: absolute;
              top: 0;
              right: -calc(100% / 3);
              z-index: -1;
              display: block;
              visibility: visible;
            }
          } // .active
          &-next,
          &-prev {
            position: relative;
            transform: translate3d(0, 0, 0);
          }
        } // .carousel-item
      
        // farthest right hidden item must be also positioned for animations 
        .carousel-item-prev.carousel-item-right {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          display: block;
          visibility: visible;
        }
      } // .carousel-inner
      
      // left or forward direction 
      .active.carousel-item-left + .carousel-item-next.carousel-item-left,
      .carousel-item-next.carousel-item-left + .carousel-item,
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
      }
  
      // right or previous direction 
      .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
      .carousel-item-prev.carousel-item-right + .carousel-item,
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        display: block;
        visibility: visible;
      }
    } // multi-item-carousel
  }