* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid ; */
    font-family: "Open Sans", sans-serif !important;
    width: 100%;
    scroll-behavior: smooth;
}

.homepage-container {
    width: 100%;
    height: 100vh;
    background: url(./assets/main-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#overlay-container {
    width: 100%;
    height: 100%;
    background-color: rgba(129, 180, 247, 0.281);
    z-index: -5;
}

.navbar .navbar-brand {
    width: auto;
    font-size: 30px;
}
.navbar .nav-item {
    width: auto;
    padding: 10px 10px;
    color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.navbar-brand img {
    width: 180px;
    height: auto;
}
.navbar .nav-link {
    font-size: 15px;
    border-bottom: 2px solid #ed749600;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    width: auto;
    outline: none;
}

.bg-dark {
    background: none !important;
}
.navbar a {
    color: rgb(255, 255, 255, 1);
    opacity: 1;
}

.nav-link:hover {
    border-bottom: 2px solid #ed7496;
}

.container {
    margin: 0;
    max-width: none;
    padding: 0 100px;
}

.sticky-top {
    position: static;
}

@media only screen and (max-width: 1110px) {
    .container {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar .nav-link {
        color: black;
    }
    .nav-item:hover {
        background-color: #ed7496;
    }
    .nav-link:hover {
        border-bottom: none;
    }
    .container {
        margin: 0;
        max-width: none;
    }
    .navbar {
        padding-left: 0;
    }
    .navbar-collapse {
        height: 100vh;
        background-color: white;
        margin-right: 15%;
        margin-top: -67px;
        transition: max-height 0s ease-out;
    }
    .navbar-brand {
        padding-left: 20px;
    }
    .navbar-brand img {
        width: 150px;
        height: auto;
    }
}

.caption-container {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 9%;
    gap: 30px;
    width: auto;
}

.caption-container h1 {
    color: #ffffff;
    font-size: 80px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.caption-container h5 {
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.button-pink {
    background-color: #f97794;
    border-radius: 29.5px;
    width: 228px;
    height: 59px;
    outline: none;
    border: none;
    color: white;
    border: 1px solid #f97794;
    font-weight: bold;
    /* outline: none; */
}

.button-pink:focus {
    outline: none;
}

.button-pink:hover {
    background-color: #ffffff00;
    cursor: pointer;
    transition: 0.5s ease-out;
    color: #f97794;
}

@media only screen and (max-width: 800px) {
    .caption-container {
        margin-top: 30%;
        width: 80%;
        /* align-items: center; */
    }
    .caption-container h1 {
        width: 100%;
        font-size: 40px;
    }
    .caption-container h5 {
        width: 100%;
    }
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background-image: url(./assets/BG/bg-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.caption-title {
    width: 90%;
    color: #263238;
    font-size: 36px;
    line-height: 76px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin-top: 50px;
}

.caption-desc {
    width: auto;
    color: #445a64;
    font-size: 14px;
    line-height: 24px;
    max-width: 678px;
    text-align: center;
    width: 90%;
    margin-bottom: 50px;
}

.services-underline {
    background-color: #f97794;
    width: 137px;
    height: 2px;
    margin: 0 0 40px 0;
}

.services-banner-conatiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 100px;
}

.services-banner-conatiner > * {
    margin: 25px 0 0 20px;
}

.services-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 28%;
    min-width: 240px;
    text-align: center;
    align-items: center;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    transition: 1s ease-out;
}

.banner-caption-title {
    font-weight: bold;
    color: #263238;
    font-size: 18px;
}

.banner-caption-desc {
    color: #445a64;
    font-size: 14px;
    width: 90%;
    text-align: center;
    line-height: 22px;
    max-width: 80%;
}

.banner-caption-desc1 {
    color: #445a64;
    font-size: 14px;
    width: 90%;
    text-align: center;
}

.services-banner:hover {
    box-shadow: 0 0 17px 0 rgba(146, 146, 146, 0.5);
    transition: 0.5s ease-out;
    cursor: pointer;
}

.services-banner-image-sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

#servicesBanner1 span {
    background-color: #fae3e3;
}

#servicesBanner2 span {
    background-color: #fff5f7;
}

#servicesBanner3 span {
    background-color: #e3eafa;
}

#servicesBanner4 span {
    background-color: #f3ead6;
}

#servicesBanner5 span {
    background-color: #e7e6ff;
}

#servicesBanner6 span {
    background-color: #dedede;
}

#servicesBanner1:hover {
    border: 1px solid #ffb8b8;
}

#servicesBanner2:hover {
    border: 1px solid #ffa1b4;
}

#servicesBanner3:hover {
    border: 1px solid #a2beff;
}

#servicesBanner4:hover {
    border: 1px solid #ffdc8f;
}

#servicesBanner5:hover {
    border: 1px solid #9490ff;
}

#servicesBanner6:hover {
    border: 1px solid #9b9b9b;
}

.services-banner img {
    width: auto;
    height: 22px;
}

.services-banner i {
    position: absolute;
    right: 0;
    margin-right: 20px;
    width: fit-content;
    margin-top: 20px;
}

.services-banner a {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -20px;
    display: none;
    cursor: pointer;
}

.services-banner-image-container {
    width: auto;
}

.fa-chevron-up {
    color: #ee7892;
}

@media only screen and (max-width: 1300px) {
    .services-banner-conatiner {
        padding: 0 50px;
        justify-content: center;
    }
    .services-banner {
        width: 30%;
    }
}

@media only screen and (max-width: 500px) {
    .services-banner-conatiner {
        padding: 5%;
    }
    .services-banner {
        width: 90%;
        padding: 20px;
        margin: 0;
        max-width: none;
        margin-bottom: 30px;
    }
    .services-banner:hover {
        box-shadow: 0 0 17px 0 rgba(146, 146, 146, 0.5);
        border: 1px solid #00000000;
        transition: 0.5s ease-out;
        cursor: pointer;
    }
    .caption-title {
        font-size: 20px;
    }
    .banner-caption-desc {
        display: none;
    }
    .services-banner-image-container {
        display: none;
    }
    .services-banner a {
        display: block;
    }
}

@media only screen and (min-width: 500px) {
    .services-banner-image-container {
        display: flex !important;
    }
    .services-banner h5 {
        display: flex !important;
    }
    .services-banner-image-sub-container {
        display: flex !important;
    }
}

.choose-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    margin-bottom: 50px;
}

.choose-banner img {
    height: 30px;
    width: auto;
}

.choose-banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#chooseCaptionDesc {
    text-align: left;
}

.choose-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    max-width: 20%;
    min-width: 250px;
}

@media only screen and (max-width: 700px) {
    .choose-banner-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 500px) {
    .choose-container {
        padding: 5%;
    }

    .choose-banner {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        gap: 10px;
        width: 100%;
        max-width: 0;
    }
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/BG/bg-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 100px;
}

@media (min-width: 768px) {
    .multi-item-carousel .carousel-inner .carousel-item {
        margin-right: inherit;
    }
    .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item,
    .multi-item-carousel
        .carousel-inner
        .carousel-item.active
        + .carousel-item
        + .carousel-item {
        display: block;
    }
    .multi-item-carousel
        .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .multi-item-carousel
        .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item,
    .multi-item-carousel
        .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item
        + .carousel-item {
        transition: none;
    }
    .multi-item-carousel
        .carousel-inner
        .carousel-item.active
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: absolute;
        top: 0;
        right: -calc(100%/3);
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .multi-item-carousel .carousel-inner .carousel-item-next,
    .multi-item-carousel .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .multi-item-carousel
        .carousel-inner
        .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .multi-item-carousel
        .active.carousel-item-left
        + .carousel-item-next.carousel-item-left,
    .multi-item-carousel
        .carousel-item-next.carousel-item-left
        + .carousel-item,
    .multi-item-carousel
        .carousel-item-next.carousel-item-left
        + .carousel-item
        + .carousel-item,
    .multi-item-carousel
        .carousel-item-next.carousel-item-left
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .multi-item-carousel
        .active.carousel-item-right
        + .carousel-item-prev.carousel-item-right,
    .multi-item-carousel
        .carousel-item-prev.carousel-item-right
        + .carousel-item,
    .multi-item-carousel
        .carousel-item-prev.carousel-item-right
        + .carousel-item
        + .carousel-item,
    .multi-item-carousel
        .carousel-item-prev.carousel-item-right
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        display: block;
        visibility: visible;
    }
}

.carousel-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content_img {
    position: relative;
    width: 80%;
    height: 100%;
    float: left;
}

.content_img div {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 20px;
}

.content_img:hover div {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 0.7;
}
.carousel-banner h3 {
    color: #263238;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.carousel-indicators {
    margin: 0 !important;
    padding: 0;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}

.carousel-indicators .active {
    background: #f97794;
}

.carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

@media only screen and (max-width: 500px) {
    .content_img:hover div {
        font-size: 10px;
        line-height: 15px;
    }
}

.stack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.stack-banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
    flex-wrap: wrap;
}

.stack-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
}

.stack-banner-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stack-banner-icon img {
    width: 50px;
    height: auto;
}

.stack-banner-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    height: 80px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #f9779300;
}

.stack-banner-icon:hover {
    border: 1px solid #f97794;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(124, 124, 124, 0.5);
}

.stack-banner h4 {
    text-align: center;
}

#split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stack-banner-icon span {
    color: #263238;
    font-size: 12.47px;
    line-height: 16.99px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .stack-banner-icon-container {
        flex-direction: row;
        margin-top: 20px;
    }
    .stack-banner-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .stack-banner {
        width: 90%;
        margin-bottom: 30px;
    }
    .stack-banner-icon span {
        font-size: 10px;
    }
    .stack-banner-icon img {
        width: 40px;
    }
    .stack-banner-icon {
        width: 75px;
        height: 70px;
    }
    #split {
        justify-content: space-evenly;
    }
}

.about-container {
    background-color: #f97794;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 100px;
    gap: 40px;
}

.about-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 20%;
    min-height: 200px;
    padding: 30px 0;
    gap: 10px;
    border: 1px solid white;
    border-style: dashed;
    min-width: 200px;
    text-align: center;
}

.about-banner img {
    width: 40px;
    height: auto;
    filter: brightness(0) invert(1);
}

.about-banner h4 {
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
}

.about-banner h5 {
    font-size: 16px;
    width: fit-content;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .about-container {
        padding: 5%;
    }

    .about-banner img {
        width: 30px;
    }

    .about-banner {
        min-width: 40%;
        width: 40%;
        padding: 5%;
    }
    .about-banner h4 {
        font-size: 12px;
    }

    .about-banner h5 {
        font-size: 10px;
    }
}

.owner-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5% 10%;
}

.owner-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    padding: 20px;
    box-shadow: 0 0 5px 0 rgba(146, 146, 146, 0.5);
    cursor: pointer;
}

.owner-card:hover {
    box-shadow: 0 0 17px 0 rgba(146, 146, 146, 0.5);
}

.owner-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(./assets/account-manager-580x302\ Cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.owner-details {
    color: #434343;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.owner-details h4 {
    font-size: 25px;
    font-weight: bold;
}

.owner-details h5 {
    font-size: 18px;
}

.owner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.owner-desc {
    color: #445a64;
    font-size: 15px;
    line-height: 22px;
    width: 479px;
    text-align: left;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .owner-card-container {
        display: none;
    }
}

.core-team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    background-color: #fafaf6;
}

.core-team-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    flex-wrap: wrap;
}
.core-team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    gap: 10px;
    padding-bottom: 20px;
    min-width: 278px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.core-team-card:hover {
    box-shadow: 0 0 17px 0 rgba(146, 146, 146, 0.5);
    cursor: pointer;
}

#profilePic {
    width: 100%;
    height: auto;
}

.core-team-card h4 {
    color: #263238;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin: 0;
}

.core-team-card h5 {
    color: #263238;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    width: 90%;
}

#linkedinIcon {
    width: 20px;
    height: auto;
}

@media only screen and (max-width: 700px) {
    #cardHide {
        display: none;
    }
    .core-team-card {
        width: 48%;
        min-width: 0;
    }
    .core-team-container {
        padding-bottom: 50px;
    }
    .caption-title {
        margin-top: 20px;
    }
}

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display: flex;
}

/* control image height */
.card-img-top-250 {
    max-height: 225px;
    overflow: hidden;
}

/* smoother transitions */
.carousel-inner > .carousel-item.next.left,
.carousel-inner > .carousel-item.prev.right {
    transition: all 1s ease;
}

.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 50px;
}

.blog-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    gap: 20px;
    cursor: pointer;
}

.blog-banner h5 {
    color: #544837;
    font-size: 17.44px;
    line-height: 30.52px;
    text-align: left;
}

.blog-banner h4 {
    color: #2f281e;
    font-size: 22px;
    line-height: 30px;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.blog-banner:hover #redOnHover {
    color: #ee7892;
}

@media only screen and (max-width: 800px) {
    #blogBanner3 {
        display: none;
    }

    .blog-banner {
        width: 40%;
    }
}

@media only screen and (max-width: 500px) {
    #blogBanner2 {
        display: none;
    }

    .blog-banner {
        width: 80%;
    }
    .blog-banner-container {
        justify-content: center;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 6%;
    background-color: #f7f9ff;
    padding-bottom: 100px;
}

.form-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.form-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#formButton {
    width: 180px;
    height: 50px;
    border: 1px solid #f97794;
}

.form-control {
    border-radius: 50px;
    height: 50px;
}

.email-input {
    margin-top: 30px;
}

.message-input {
    margin-top: 20px;
}

.message-input {
    border-radius: 5px !important;
    height: 100px;
}

.form-right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    padding-left: 2%;
    gap: 10px;
}

.form-right-container img {
    width: auto;
    height: 15px;
}

.form-right-container h4 {
    margin: 0;
    font-size: 15px;
}

.form-right-container a {
    margin: 0;
    font-size: 12px;
    color: #f97794;
    cursor: pointer;
}

.form-right-container div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

@media only screen and (max-width: 850px) {
    .form-sub-container {
        flex-direction: column-reverse;
    }
    .form-right-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .form-row-container {
        flex-direction: column;
        gap: 0;
    }
    .form-left-container {
        width: 100%;
    }

    .email-input {
        margin-top: 0;
    }
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

.footer-left-container {
    width: 50%;
    text-align: left;
}

.footer-left-container h2 {
    font-size: 30px;
    font-weight: bold;
}

.footer-left-container h5 {
    font-size: 14px;
    text-align: left;
    margin-bottom: 25px !important;
    margin-top: 20px !important;
}

.footer-right-container {
    width: fit-content;
}

.footer-right-container h4 {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.footer-icon-container img {
    height: 30px;
    width: auto;
}

#footerDesc {
    margin: 0;
}

.footer-image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.footer-image-container img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.footer-icon-container a {
    cursor: pointer;
    width: fit-content;
}

@media only screen and (max-width: 850px) {
    .footer-image-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }
    .footer-left-container {
        width: 100%;
    }
    .footer-right-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #footerDesc {
        text-align: center;
        width: 100%;
    }
    .footer-left-container h2 {
        text-align: center;
    }
    .footer-icon-container {
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    .footer-image-container div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 120%;
    }
    .footer-image-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px;
}

.bottom-container span {
    width: fit-content;
}

.bottom-container i {
    color: orange;
}

@media only screen and (max-width: 650px) {
    .bottom-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        padding: 10px;
    }
}
